--extra-index-url https://download.pytorch.org/whl/cu121
gradio==4.14.0
numpy==1.24.3
opencv_contrib_python==4.8.0.76
opencv_python==4.8.0.76
opencv_python_headless==4.8.0.76
Pillow==10.2.0
scipy==1.12.0
torch==2.1.2
transformers==4.36.2
diffusers==0.25.0
xformers==0.0.23.post1
accelerate==0.26.1
omegaconf==2.3.0